*, *:before, *:after {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}
:root{
  --color-primario:rgb(82, 156, 205);
  --color-secundario: #00a699;
  --color-terciario: #767676;
  --color-blanco: #fff;
  --color-rojo: #ff0000;
  --color-naranja: #ff7f00;
}
body {
  font-family:'Open Sans', sans-serif;
  font-size: 1.6rem;
  min-height: 100%;
}
.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}
.contenedor-sm {
  max-width: 70rem;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
.crear {
  background-color: blue;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.editar {
  background-color: orange;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 5px;
}
.eliminar {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  table {
      border: 0;
  }
  table thead {
      display: none;
  }
  table, table tbody, table tr, table td {
      display: block;
      width: 100%;
  }
  table td {
      text-align: right;
      padding-left: 50%;
      position: relative;
  }
  table td::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 15px;
      font-weight: bold;
  }
}

.p-2 {
  padding: 2rem;
}

.m-2 {
  margin: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pr-2 {
  padding-right: 2rem;
}
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-justify {
  text-align: justify;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}